.bg-image {
  background-position: center;
  background-size: cover;
  background-image: url("../images/discworldbackground.jpg");
  background-color: #2A445D;
  height: 100vh;
  transition: all 1s;
  transition-timing-function: linear;
}

#contain {
  opacity: 0;
  transition: opacity 5s;
}

.covers > img {
  height: 140px;
  width: 90px;
  transition: transform .3s;
}

.covers > img:hover {
transform: translateY(-7px);
}

#clockDisplay {
  color: #17D4FE;
  font-family: Orbitron;
  letter-spacing: 2px;
  transition: 1s;
}

.navbar-brand {
  color: #17D4FE !important;
   transition: fontWeight 1s;
}

.quote {
  text-align: center;
  font-family: 'Lusitana', serif;
  font-weight: bold;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(178, 60, 253, 0.2);
}

h2 {
  font-style: italic;
   font-family: 'Lusitana', serif;
   font-weight: bold;
   font-size: 26px;
}

h3 {
  color: #17D4FE;
  font-weight: bold;
  opacity: 1 !important;
  visibility: visible;
}

hr {
  border: red 1px solid;
  width: 30px;
  margin: auto;
  margin-top: 1.5rem;
  font-weight: bold;
  opacity: .7;
  margin-bottom: .7rem;
  text-align: center;
}

.button {
  border-radius: 5px;
  background-color: #0fa1c2;
  border: none;
  padding: 10px;
  margin-top: 1.5rem;
  font-weight: bold;
  font-style: italic;
  transition: background-image 1s;
}

.button:hover {
  background-image: linear-gradient(to right,#0fa1c2, #17D4FE);
  animation:slidebg 1s linear;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

#secondbutton {
  display: none;
  transition: all 5s;
}

@media screen and (orientation: portrait) and (max-width: 790px) {
  .bg-image {
    height: 50vh;
  }
  .navbar-brand {
  color: purple !important;
  }
}
