html {
  font-size: calc(60% + 0.8vmin);
}

* {
  font-size: 1rem;
}

body {
  height: 100vh;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-image: url("../images/discworldbackground.jpg");
  background-color: #2a445d;
  height: 100vh;
  transition: filter 5s, opacity 5s, transform 3s;
  transition-timing-function: linear;
}

#contain {
  opacity: 0;
  transition: ease-in opacity 1s;
  transition-delay: 2.2s;
}

.covers > img {
  height: 140px;
  width: 90px;
  transition: transform 0.3s;
}

.covers > img:hover {
  transform: translateY(-7px);
}
#clockDisplay,
.navbar-brand,
.reload {
  transition: font-weight 2s, color 5s;
  transition-delay: 2.2s;

  font-family: Orbitron;
  letter-spacing: 2px;
}

#clockDisplay,
.link-reload {
  color: #17d4fe;
}
.link-reload {
  display: none;
}

.reload {
  color: purple !important;
  font-weight: 700;
}

.quote {
  text-align: center;
  font-family: "Lusitana", serif;
  font-weight: bold;
}

h2 {
  font-style: italic;
  font-family: "Lusitana", serif;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  color: #17d4fe;
  font-weight: bold;
  opacity: 1 !important;
  visibility: visible;
}

hr {
  border: red 1px solid;
  width: 30px;
  margin: auto;
  margin-top: 1.5rem;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 0.7rem;
  text-align: center;
}

.button {
  border-radius: 5px;
  background-color: #179afe;
  border: none;
  padding: 10px;
  margin-top: 1.5rem;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
  transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
}

.button:hover {
  box-shadow: 0 0 40px 40px #17d4fe inset;
}

#secondbutton {
  display: none;
  border: 1px solid purple;
}

.fa-2x {
  vertical-align: middle;
  color: purple;
}

@media screen and (orientation: portrait) and (max-width: 790px) {
  .bg-image {
    height: 50vh;
  }
  body {
    background-color: #fffce0;
  }
  .navbar-brand {
    color: purple !important;
  }
  .navbar-brand span {
    display: none;
  }
  html {
    font-size: calc(80% + 0.8vmin);
  }
  h1 {
    font-size: calc(1rem + 1.5vw);
  }
}
